$min-width: 1024px;
$mob-width: 768px;
.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  column-gap: 16px;
  margin-bottom: 32px;
  @media screen and (max-width: $min-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    row-gap: 24px;
  }

  .records {
    grid-column: 1 / 4;
    @media screen and (max-width: $min-width) {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
  }
  .breif {
    grid-column: 3 / 4;
    justify-self: center;
    @media screen and (max-width: $min-width) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }
}

.recordContainer {
  width: 100%;
  height: 269px;
  background: #104323;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 54px 49px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  @media screen and (max-width: $mob-width) {
    flex-direction: column;
  }
  .recordUser {
    display: flex;
    align-items: center;
    gap: 16px;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    .userImage {
      width: 96px;
      height: 96px;
      border: 2px solid #97b00f;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .userName {
      label {
        font-family: Montaserat;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        background: linear-gradient(90deg, #74b243 0%, #96b032 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .recordDetails {
    display: flex;
    align-items: center;
    gap: 24px;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);

    .record {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-direction: column;

      label {
        font-family: Montaserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        background: linear-gradient(90deg, #74b243 0%, #96b032 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p {
        font-family: Montaserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.4%;
        vertical-align: middle;
      }
    }
  }
}

.breifContainer {
  width: 100%;
  height: 269px;
  background: #97b00f;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.breifContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 345px;
  height: 269px;
  background: #97b00f;

  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  .breifHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    p {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    h5 {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #006633;
    }
  }
  .breifIcon {
    width: 100%;
    height: 114px;
  }
  .breifText {
    p {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 60px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #006633;
      span {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
      }
    }
  }
}
