.notesContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
}
.notes {
  width: 424px;
  height: 426px;
  background: #97b00f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
