.container {
  width: 100%;
  height: fit-content;
  min-height: 400px;
}
.mission{
    width: 100%;
    height: fit-content;
    min-height: 400px;
    padding: 0px 100px;
    margin: 70px 0px 150px 0px;
}
.imagine{
    width: 100%;
    height: fit-content;
    min-height: 400px;
    margin: 70px 0px 150px 0px;
}
@media screen and (max-width: 1024px){
    .mission{
        padding: 0px 10px;
    }
    
}