.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  z-index: 10;
  margin: auto;
}
