.dropdownOpened {
    max-height: fit-content;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .dropdownClosed {
    display: none;
    max-height: 0px;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .dropdown ul {
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown ul li {
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-top: 1px solid #3a444c;
    border-bottom: 1px solid #3a444c;
  }