.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 1086px;
  width: 1374px;
  max-width: 1374px;
  overflow: hidden;
  z-index: 10;
  /* background: red; */
}

/* curve */
.curveContainer {
    position: absolute;
    bottom: 0;
    width: 1374px;
    height: 971px;
    background-color: #FFFFFF1A;
    border: 2px solid #006633;
    border-radius: 700px 700px 10px 10px;
    -webkit-border-radius: 700px 700px 10px 10px;
    -moz-border-radius: 700px 700px 10px 10px;
    -ms-border-radius: 700px 700px 10px 10px;
    -o-border-radius: 700px 700px 10px 10px;
}