.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalcontent {
  background: linear-gradient(
    126.97deg,
    #006633 28.26%,
    rgba(50, 80, 65, 0.5) 91.2%
  );
  padding: 20px;
  width: 50%;
  min-width: 310px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  overflow-y: auto;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.modalcontent .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.modalButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* text */
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  letter-spacing: -0.004em;
  text-align: center;
  color: #006633;

  /* end text */
  width: 100px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #307040 0%, #74b243 45.5%, #96b032 80%);
  height: 32px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
