.container {
  width: 100%;
  height: fit-content;
  min-height: 555px;
  justify-self: center;
}
.container .header {
  width: 100%;
  height: fit-content;
  margin-bottom: 47.5px;
}
.container .header h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  height: 100%;

  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
}
.container .forumBody .forumForm {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container .forumBody .forumForm .textArea {
  width: 100%;
  height: fit-content;
  min-height: 330px;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-bottom: 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container .forumBody .forumForm .addAndCategory {
  width: 100%;
  height: fit-content;
  min-height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.checkboxLabel {
  background: #000;
  padding: 10px;
  font-size: 15px;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.checkboxLabel input {
  opacity: 0;
  position: absolute;
}
.insertImage {
  position: relative;
  width: 123.79px;
  height: fit-content;
  min-height: 42.44px;

  display: flex;
  justify-content: center;
  z-index: 10;
}
.insertImage .imageButton {
  position: absolute;
  width: 100%;
  height: 100%;
  height: fit-content;

  display: flex;
  justify-content: center;
  z-index: 8;
  width: 123.79px;
  height: 42.44px;
  cursor: pointer;
}
.insertImage .imageButton button {
  width: 100%;
  height: 100%;
  background-color: #141414;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 9.22px;
  -webkit-border-radius: 9.22px;
  -moz-border-radius: 9.22px;
  -ms-border-radius: 9.22px;
  -o-border-radius: 9.22px;
}
.insertImage .imageFunc {
  position: absolute;
  width: 100%;
  height: 100%;
  height: fit-content;
  min-height: 43px;
  display: flex;
  justify-content: center;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
}
.selectCategory {
  height: fit-content;

  width: 155px;
  height: 42.44px;
}
.selectCategory select {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #141414;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.selectSubCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  height: 100%;
  min-height: 43px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.submit {
  align-self: flex-end;
  width: 161px;
  height: 42px;
  padding: 8px 16px 8px 16px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #74b243 0%, #96b032 100%);
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: fit-content;
    min-height: 450px;
    justify-self: center;
  }
  .container .header {
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
  }
  .container .header h2 {
    gap: 12px;
    font-size: 16px;
    line-height: 20.26px;
  }
  .container .header img {
    width: 26px;
    height: 26px;
  }
  .container .forumBody .forumForm {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .container .forumBody .forumForm .boxContainer {
    width: 100%;
    height: fit-content;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 24px;
  }
  .container .forumBody .forumForm .boxContainer .userAvatar {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
    outline: #fefefe solid 2px;
    outline-offset: 2px;
    margin: auto 0px;
    align-content: center;
    justify-self: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .container .forumBody .forumForm .boxContainer .userAvatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .container .forumBody .forumForm .textArea {
    width: 100%;
    height: 100%;
    min-height: 225px;
    resize: none;
    padding: 15px;
    background-color: #141414;
    color: #b4b7c9;
    font-size: 14px;
    font-weight: 600;
    line-height: 20.6px;
    text-align: left;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .container .forumBody .forumForm .addAndCategory {
    width: 100%;
    height: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
  }

  .selectCategory {
    height: fit-content;
    width: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  .selectCategory select {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 36px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #141414;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .selectSubCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    min-height: 26px;
  }

  .submit {
    align-self: flex-end;
    width: 100%;
    height: 42px;
    margin-top: 15px;
  }
}
