$min-width: 1024px;

.groupsContainer {
  @media (min-width: $min-width) {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 16px;

    &::-webkit-scrollbar {
      height: 10px;
      width: 0;

      &-track {
        background-color: transparent;
        border-radius: 10px;
      }

      &-thumb {
        background-color: #307040;
        border-radius: 10px;

        &:hover {
          background-color: #74b243;
        }
      }
    }
  }

  .groups {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $min-width) {
      flex-direction: row;
      width: fit-content;
      margin-bottom: 16px;
    }

    .item {
      position: relative;
      height: 299px;
      border-radius: 30px;
      background: #333634;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: stretch;
      z-index: 10;
      @media (min-width: $min-width) {
        width: 637;
      }

      .logo {
        width: 100%;
        height: 135;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: stretch;
        padding: 0 16px;

        .title {
          height: 18;
          font-family: Montserrat;
          font-weight: 600;
          font-size: 15px;
          line-height: 18.29px;
          letter-spacing: 0%;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: Auto;
          color: #fefefe;
        }

        .description {
          height: 31;
          font-family: Montserrat;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0%;
          color: #fefefeb2;
        }

        .members {
          width: 569;
          height: 15;
          font-family: Montserrat;
          font-weight: 400;
          font-size: 12px;
          line-height: 14.63px;
          letter-spacing: 0%;
          color: #97b00f;
        }

        .action {
          width: 90%;
          height: 35px;
          border-radius: 30px;
          background: linear-gradient(            90deg,            #307040 0%,            #74b243 45.5%,            #96b032 80%          );
          font-family: Montserrat;
          font-weight: 600;
          font-size: 10px;
          line-height: 16px;
          letter-spacing: 0%;
          color: #fefefefe;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 50%;
          bottom: 10px;
          z-index: 12;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
}
      }
    }
  }
}
