.link {
  color: #97B00F;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.mention {
  color: #97B00F;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}

.hashtag {
  color: #97B00F;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
  }
}