.MyContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 16px 0px 16px;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}
.challengesContainer{
  display: flex;
  gap: 25px;
  padding: 0px 16px 0px 16px;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #97b00f #1b201c;
  overflow-y: hidden;
  padding-bottom: 16px;
}
.loaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* For webkit browsers (Chrome, Safari, newer Edge) */
.MyContainer::-webkit-scrollbar {
  height: 8px; /* Thin scrollbar height */
}

.MyContainer::-webkit-scrollbar-track {
  background: #1b201c; /* Track background color */
  border-radius: 10px;
  margin: 0 10px; /* Creates gap on sides */
}

.MyContainer::-webkit-scrollbar-thumb {
  background-color: #97b00f; /* Thumb color */
  border-radius: 10px;

  /* Optional: add some spacing around the thumb */
  margin: 0 2px;
}

.container {
  width: 18vw;
  min-width: 389px;
  height: 100%;
  border: 1px solid #98b00f31;
  background: linear-gradient(126.97deg, #1a3a0e 28.26%, #313a0e 91.2%);
  backdrop-filter: blur(60px);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* header */
.header {
  width: 100%;
  height: fit-content;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
}
.header h2 {
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

/* challenges */
.challenges {
  height: fit-content;
  height: 100%;
  width: 100%;
  overflow: none;
}

.arrow {
  position: fixed;
  top: 90%;
  cursor: pointer;
}

.arrowLeft {
  left: 30%;
  fill: #97b00f;
  width: 55px;
  height: 55px;
}
.arrowLeft path {
  fill: #fefefe;
}

.arrowRight {
  left: auto;
  right: 30%;
  fill: #97b00f;
  width: 55px;
  height: 55px;
}
.arrowRight path {
  fill: #fefefe;
}

/* .arrowDisabled {
  fill: #fff;
} */
@media screen and (max-width: 768px) {
  .MyContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    width: fit-content;
    overflow-x: auto;
  }
  .container {
    min-width: 312px;
    height: 437px;
    justify-content: space-between;
  }
  /* header */
  .header h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.2px;
  }

  /* challenges */
  .challenges {
    height: fit-content;
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    gap: 16px;
    overflow-x: auto;
  }
}
