.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, min-content);
  row-gap: 16px;
  align-items: flex-start;
  height: fit-content;
  min-height: 371px;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  align-content: flex-end;
  background-color: #0b321f;
  padding: 0px 100px 32px 100px;
}
.container p {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
  color: #97b00f;
  text-transform:uppercase;
}
.container h2 {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
    text-transform: capitalize;
}
.container h2 span {
    color: #97b00f;
}

@media screen and (max-width: 768px) {
  .container {
    
    min-height: 250px;
    
    padding: 0px 20px 12px 20px;
  }
 
  .container h2 {
      font-size: 30px;
      line-height: 40px;
      
  }
}
