.container {
  padding: 0px 100px;
}
.header {
  margin-bottom: 26px;
}
.header h2 {
  font-family: DM Sans;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  background: linear-gradient(90deg, #307040 0%, #74b243 45.5%, #96b032 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgLeft,
.imgRight {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}
.imgfirst {
  margin-bottom: 72px;
}
.imgmid .text,
.imglast .text,
.imgfirst .text {
  width: 43%;
  max-width: 636px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.imgfirst .text ul{
  list-style: disc;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.imgfirst .text ul li span{
  font-weight: bolder;
}

.imgmid .text p,
.imglast .text p,
.imgfirst .text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.imgfirst .img {
  width: 512px;
  height: 850px;
}
.imgfirst .img img {
  width: 100%;
  height: 100%;
}
.imgmid {
  margin-bottom: 72px;
}
.imgmid .img {
  width: 512px;
  height: 421px;
}
.imgmid .img img {
  width: 512px;
  height: 421px;
}
.imglast .img {
  width: 512px;
  height: 295px;
}
.imglast .img img {
  width: 100%;
  height: 100%;
}
.categories{
  width:100%;
}
.categories img{
  width:100vw;
  aspect-ratio: 1 /0.35;
}
.categories .text {
  padding: 0px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 10px;
  }
  .header {
    margin-bottom: 26px;
  }
  .header h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .imgRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .imgLeft {
    align-items: center;
    flex-direction: column-reverse;
  }
  .imgfirst {
    margin-bottom: 36px;
  }
  .imgmid .text,
  .imglast .text,
  .imgfirst .text {
    width: 100%;
    max-width: 636px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .imgmid .text p,
  .imglast .text p,
  .imgfirst .text p {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
  }
  .imgfirst .img {
    width: 310px;
    height: 254px;
  }
  .imgfirst .img img {
    width: 100%;
    height: 100%;
  }
  .imgmid {
    margin-bottom: 36px;
  }
  .imgmid .img {
    width: 310px;
    height: 220px;
  }
  .imgmid .img img {
    width: 100%;
    height: 100%;
  }
  .imglast .img {
    width: 310px;
    height: 195px;
  }
  .imglast .img img {
    width: 100%;
    height: 100%;
  }
}
