.container {
  width: 100%;
  height: fit-content;
  padding: 0px 20px;
}
.banner {
  width: 100%;
  height: 400px;
}
.banner .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content {
  width: 100%;
  height: fit-content;
  min-height: 519px;
  background: #1a1e1c;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, min-content);
  padding: 10px 35px;
}
.content .hostedBy {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  width: 100%;
  align-items: flex-start;
  height: fit-content;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.content .hostedBy p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
.content .hostedBy p span {
  color: #006633;
  text-transform: uppercase;
  font-weight: 600;
}
.content .name {
  grid-column: 1 / 8;
  grid-row: 2 / 3;
  min-height: 48px;
  align-content: center;
}
.content .name h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
}
.content .members {
  grid-column: 1 / 8;
  grid-row: 3 / 4;
  min-height: 49px;
  align-content: center;
  margin-bottom: 50px;
}
.content .members p {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0%;
}
.content .members p span {
  background: linear-gradient(90deg, #307040 0%, #74b243 45.5%, #96b032 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .date {
  grid-column: 1 / 8;
  grid-row: 4 / 5;
  min-height: 74px;
  align-content: center;
  margin-bottom: 18px;
}
.content .location p,
.content .date p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.content .location p .icon,
.content .date p .icon {
  padding: 24px;
  background-color: #b1b1b110;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.content .location p .icon svg,
.content .date p .icon svg {
  fill: #427030;
}

.content .location p .line,
.content .date p .line {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0px;
}
.content .date p .line span {
  background: linear-gradient(90deg, #307040 0%, #74b243 45.5%, #96b032 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .location {
  grid-column: 1 / 8;
  grid-row: 5 / 6;
  min-height: 74px;
  align-content: center;
  margin-bottom: 18px;
}
.content .organizer {
  grid-column: 1 / 8;
  grid-row: 6 / 7;
  min-height: 74px;
  align-content: center;
  margin-bottom: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.content .organizer .img {
  width: 74px;
  height: 74px;
  background-color: #b1b1b110;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.content .organizer .text .username {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}
.content .organizer .text .usernameTitle {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0px;
  color: #706e8f;
}
.content .actions {
  grid-column: 9 / 13;
  grid-row: 1 / 4;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.content .actions .action {
  width: 253px;
  height: 41px;
  background: #006633;
  color: #74b243;
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.about{
  height: fit-content;
  min-height: 550px;
  margin-top: 50px;
}
@media screen and (max-width: 1440px) {
  .banner {
    height: 350px;
  }

  .content {
    width: 100%;
    height: fit-content;
    min-height: 519px;
    background: #1a1e1c;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, min-content);
    padding: 10px 35px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 15px;
  }
  .content {
    min-height: none;
    grid-template-rows: repeat(7, min-content);
    padding: 10px 25px;
  }

  .content .hostedBy {
    gap: 8px;
  }

  .container .name {
    min-height: 38px;
  }
  .container .name h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .container .members {
    min-height: 36px;
  }
  .container .members p {
    font-size: 20px;
    line-height: 16px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 10px;
  }
  .banner {
    height: 250px;
  }
  .content {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 430px) {
}
