.container {
  width: 100%;
  min-height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 0px 30px;
  height: fit-content;
  overflow-y: hidden;
}
.diamond {
  justify-self: flex-start;
  width: 685px;
  height: fit-content;
}
.diamond .links {
  margin-top: 17px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}
.diamond .links .link {
  align-content: center;
  cursor: pointer;
  background: linear-gradient(
    126.97deg,
    rgba(6, 38, 13, 0.74) 28.26%,
    rgba(39, 55, 26, 0.5) 91.2%
  );
  backdrop-filter: blur(120px);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.diamond .links .link .regularLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 91px;
}
.diamond .links .link .postLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: fit-content;
  height: 91px;
  padding: 0px 10px;
}
.diamond .links .link .regularLink img,
.diamond .links .link .postLink img {
  width: 48px;
  height: 48px;
}
.diamond .links .link .regularLink span {
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  margin-top: 8px;
}
.diamond .links .link .postLink span {
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
}

.suggested {
  width: 100%;
}
.challenges {
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    overflow-x: hidden;
    padding: 0px 10px;
  }
  .diamond {
    width: 100%;
    min-width: 310px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .diamond .links {
    justify-self: center;
    width: 100%;
    min-width: 310px;
    margin-top: 10px;
    padding: 0px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    gap: 10px;
  }
  .diamond .links .link {
    padding: 10px;
    min-width: 90px;
    width: 90px;
    height: 91px;
  }
  .diamond .links .link .regularLink,
  .diamond .links .link .postLink {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .diamond .links .link .postLink {
    gap: 0px;
  }
  .diamond .links .link .postLink span,
  .diamond .links .link .regularLink span {
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    margin-top: 12px;
  }
}

@media screen and (max-width: 520px) {
  .diamond .links .link {
    width: 70px;
    min-width: 70px;
  }
}
