.container {
  display: grid;
  grid-template-columns: 100%;
}
.children {
  grid-column: 1 / 2;
}

@media screen and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
  }
  .children {
    grid-column: 1 / 2;
  }
}
