.section {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    .title {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 24px;
      line-height: 29.26px;
      letter-spacing: 0%;
      text-align: center;
      color: #fefefe;
    }

    .path {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      justify-self: flex-end;
      gap: 12px;
      @media screen and (max-width: 1024px) {
        grid-row: 1 / 2;
        grid-column: 6 / 13;
      }
      @media screen and (max-width: 768px) {
        p {
          display: none;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 2;
  margin: 32px 0px;
  background-color: #3a444c;
}

.hero {
  padding: 0px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
