.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 0px 34px;
}
.title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 10px;
}
.title ul {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.title ul li {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: all 0.4s;
}
.title ul li:hover {
  background-color: #307040;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
