.container {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.header {
  background: linear-gradient(90deg, #307040 0%, #74b243 45.5%, #96b032 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 26px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  min-height: 200px;
  width: 100%;
  gap: 30px;
}
.text p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
