.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.hero {
  padding: 0px 100px;
}
.brain {
  margin: 100px auto 150px auto;
  padding: 0px 100px;
}
.whatWeOffer {
  margin: 100px auto 150px auto;
  padding: 0px 100px;
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 0px 50px;
  }
  .brain {
    margin: 75px auto 100px auto;
    padding: 0px 50px;
  }
  .whatWeOffer {
    margin: 75px auto 100px auto;
    padding: 0px 50px;
  }
}
@media screen and (max-width: 430px) {
  .hero {
    padding: 0px 10px;
  }
  .brain {
    margin: 25px auto 50px auto;
    padding: 0px 20px;
  }
  .whatWeOffer {
    margin: 25px auto 50px auto;
    padding: 0px 20px;
  }
}
