.container {
    height: fit-content;
    min-height: 482px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, min-content);
    row-gap: 24px;
  }
  .header {
    margin-top: 31px;
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    width: fit-content;
    max-width: 752px;
    height: fit-content;
    min-height: 147px;
  }
  .header h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
  }
  .header h2 span {
    background: linear-gradient(90deg, #74b243 0%, #96b032 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text {
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    width: fit-content;
    max-width: 451px;
    height: fit-content;
    min-height: 72px;
  }
  .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #adb2b1;
  }
  .link {
    grid-column: 7 / 13;
    grid-row: 3 / 4;
    width: fit-content;
    max-width: 184px;
    height: fit-content;
    min-height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006633;
    cursor: pointer;
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .link a {
    padding: 0px 16px;
    width: 100%;
    height: 100%;
    margin: auto;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .link:hover {
    background-color: var(--lightGreen);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .image {
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    width: 482px;
    height: 482px;
    justify-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .image img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 1024px) {
    .container {
      grid-template-rows: repeat(4, min-content);
    }
    .header {
      margin-top: 0px;
      grid-column: 1 / 13;
      grid-row: 1 / 2;
      width: 100%;
      max-width: none;
      height: fit-content;
      min-height: fit-content;
    }
    .header h2 {
      font-size: 35px;
      text-align: center;
    }
  
    .text {
      grid-column: 1 / 13;
      grid-row: 2 / 3;
      max-width: none;
      min-height: fit-content;
    }
    .text p {
      text-align: center;
    }
    .link {
      grid-column: 1 / 13;
      grid-row: 4 / 5;
      justify-self: center;
      width: fit-content;
      max-width: 184px;
      height: fit-content;
      
    }
  
    
    .image {
      grid-column: 1 / 13;
      grid-row: 3 / 4;
      width: 310px;
      height: 310px;
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image img {
      width: 100%;
      height: 100%;
      max-width: 291px;
      max-height: 266px;
    }
  }
  @media screen and (max-width: 430px) {
    .header h2 {
      font-size: 22px;
      line-height: 30.76px;
      text-wrap: wrap;
      word-wrap: break-word;
      max-width: 100%;
  
    }
    .text p {
     font-size: 12px;
     line-height: 19px;
     max-width: 100%;
    }
    .image {
      width: 240px;
      height: 240px;
    }
    .image img {
      width: 90%;
      height: 90%;
      
      max-width: 291px;
      max-height: 266px;
    }
  }