.container {
  width: 627px;
  height: 737px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.header {
  width: 509px;
  height: 49px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9px;
}
.header .userAvatar {
  width: 49px;
  height: 49px;
  min-width: 49px;
  min-height: 49px;
  background: yellow;
  border-radius: 50%;
}
.header .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}
.header .details .userName {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.29px;
  text-align: left;
}
.header .details .userName p span {
  color: #8899a6;
}
.header .details .post {
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-align: left;
}
.header .details .post p {
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-align: left;
}
.header .details .post p span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.29px;
  text-align: left;
  color: #8899a6;
}
.image {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #3a444c;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  overflow: hidden;
  z-index: 8;
}
.image .postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow: auto;
}
.image .reactionBtns {
  position: absolute;
  bottom: 25px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  z-index: 10;
  width: 467px;
}
.image .reactionBtns .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  z-index: 10;
  height: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.image .reactionBtns .btn:hover {
  background: #3a444c;
  padding: 20px 16px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .container {
    min-width: 310px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
  .header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 9px;
  }
  .header .userAvatar {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
    aspect-ratio: 1/1;
    background: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .header .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
  }
  .header .details .userName {
    font-size: 15px;
    font-weight: 700;
    line-height: 18.29px;
    text-align: left;
  }
  .header .details .userName p span {
    color: #8899a6;
  }
  .header .details .post {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
    text-align: left;
  }
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border: 1px solid #3a444c;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
    z-index: 8;
  }
  .image .postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    overflow: auto;
  }
  .image .reactionBtns {
    position: absolute;
    bottom: 25px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    z-index: 10;
    width: 90%;
  }
  .image .reactionBtns .btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    z-index: 10;
    height: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .image .reactionBtns .btn:hover {
    background: #3a444c;
    padding: 20px 16px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}
