.container {
  position: relative;
  width: 100%;
  height: 575px;
  background: linear-gradient(
    126.97deg,
    #006633 28.26%,
    rgba(50, 80, 65, 0.5) 91.2%
  );
  padding: 21px 20px 40px 20px;
  z-index: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.chart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 355px;
  margin: auto;
  z-index: 200;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

.chart svg {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.filledArea {
  fill: none;
  stroke: #006633;
  stroke-width: 1px;
}
/* main and modal */
.diamondShapeModal,
.diamondShape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  height: 300px;
  margin: auto;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}
/* main and modal */
.diamondShapeModal img,
.diamondShape img {
  width: 100%;
  height: 100%;
}
.labels {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 300;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
}

.label {
  width: fit-content;
  height: fit-content;
  z-index: 400;
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.subLabel {
  width: fit-content;
  height: fit-content;
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000a4;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.subLabel span {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}
.label img {
  width: 91px;
  height: 91px;
}

.text {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 150px;
}
.text p {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: none;
}

.modalContent {
  background: linear-gradient(
    126.97deg,
    #006633 28.26%,
    rgba(50, 80, 65, 0.5) 91.2%
  );

  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 800px;
  height: 90%;
  min-height: 670px;

  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.subCategories {
  text-align: center;
  color: white;
  height: 100%;
  min-height: 575px;
}

.subCategories h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
}

/* labels and subLablels positions */
.top1 {
  position: absolute;
  top: 12%;
  left: 50%;
  height: 50px;
  z-index: 300;
}
.top11 {
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
.top2 {
  position: absolute;
  top: 30%;
  left: 90%;
  z-index: 300;
}
.top22 {
  position: absolute;
  top: 30%;
  left: auto;
  right: 0;
  z-index: 300;
}
.top3 {
  position: absolute;
  top: 70%;
  left: 90%;
  z-index: 300;
}
.top33 {
  position: absolute;
  top: 60%;
  left: auto;
  right: 0;
  z-index: 300;
}
.top4 {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 300;
}
.top44 {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
.top5 {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 300;
}
.top55 {
  position: absolute;
  top: 60%;
  left: 0%;
  z-index: 300;
}
.top6 {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 300;
}
.top66 {
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: 300;
}
@media screen and (max-width: 768px) {
  .container {
    position: relative;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      126.97deg,
      #006633 28.26%,
      rgba(50, 80, 65, 0.5) 91.2%
    );
    padding: 10px 15px 10px 15px;
  }

  .text {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 150px;
  }
  .text p {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  /*  */
  .closeButton {
    display: none;
  }
  .subCategories h2 {
    font-size: 16px;
  }
  .chart {
    width: 180px;
    height: 180px;
  }

  .chart svg {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .filledArea {
    fill: none;
    stroke: #006633;
    stroke-width: 1px;
  }
  .diamondShapeModal,
  .diamondShape {
    width: 160px;
    height: 160px;
  }

  /*  */

  .subLabels {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
  }
  .subLabel {
    min-width: 90px;
    max-width: 90px;
    text-wrap: wrap;
    font-size: 10px;
  }
  .label {
    width: fit-content;
    height: fit-content;
    z-index: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    text-wrap: wrap;
    font-size: 10px;
  }
  .label img {
    width: 50px;
    height: 50px;
  }

  .top11 {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .top22 {
    top: 10%;
    left: auto;
    right: 0;
  }
  .top33 {
    top: 30%;
    left: auto;
    right: 0;
  }
  .top44 {
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .top55 {
    top: 30%;
    left: 0%;
  }
  .top66 {
    top: 10%;
    left: 0;
  }

  /* Modal Styles */

  .modalContent {
    top: 30px;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    max-width: 800px;
    height: 350px;
    max-height: 500px;
    min-height: auto;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  .modalDiamond {
    width: 142px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
  }

  .modalDiamond img {
    width: 100%;
    height: 100%;
  }

  .subCategories {
    text-align: center;
    color: white;
  }

  .subCategories h2 {
    margin-bottom: 20px;
  }

  .subCategories p {
    list-style: none;
    padding: 0;
    position: absolute;
  }

  .subCategories li {
    margin: 10px 0;
    font-size: 18px;
  }
}
