.container {
  width: 100%;
  height: fit-content;
  min-height: 119px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, min-content);

  padding: 32px 26px 32px 26px;
}
.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 98%;
  height: 1px;
  background: #3a444c;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.container .logos {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  justify-self: flex-start;
  gap: 12px;
}

.container .logos .footLogo {
  width: 81px;
  height: 85px;
  cursor: pointer;
}
.container .logos .footLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .logos .handsLogo {
  width: 85px;
  height: 66px;
  cursor: pointer;
}
.container .logos .handsLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .profile {
  grid-column: 6 / 13;
  grid-row: 1 / 2;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  position: relative;
  z-index: 1000;
}

.container .profile .headerMenu {
  position: absolute;
  top: 30%;
  right: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;

  background: linear-gradient(
    127.36deg,
    #0f3b18 0.8%,
    #0c2311 50%,
    #031e09 99.2%
  );
  padding: 4px 10px;
  padding-bottom: 10px;

  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container .profile .profileIcon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}
.container .profile .profileIcon .userProfile {
  min-width: fit-content;
  min-height: 39px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
}
.container .profile .profileIcon .avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container .profile .profileIcon .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container .top .profile .profileIcon .userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}
.userData .name {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
}
.userData .username h5 {
  color: #8899a6;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: -1.7%;
}
.arrowOpened {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.arrowClosed {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 60px;
    padding: 12px 12px 25px 12px;
  }
  .container::after {
    width: 100%;
  }

  .container .logos {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-self: flex-start;
    gap: 12px;
  }

  .container .logos .footLogo {
    width: 32px;
    height: 33px;
  }

  .container .logos .handsLogo {
    width: 40px;
    height: 40px;
  }

  .container .profile {
    grid-column: 6 / 13;
    background: #000;
    gap: 4px;
  }
  .container .profile .headerMenu {
    top: 0;
    height: 45px;
    gap: 4px;
  }
  .container .profile .open {
    height: fit-content;
  }
  .container .profile .profileIcon {
    min-height: 32px;
    gap: 5px;
  }
  .container .profile .profileIcon .avatar {
    width: 32px;
    height: 32px;
  }
  .userData .name {
    color: #fff;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 0%;
  }
  .userData .username {
    color: #8899a6;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
  }
}
@media screen and (max-width: 430px) {
  .container .profile {
    gap: 4px;
    display: flex;
    flex-direction: column;
  }
}
